<h1><%= t(".title2") %></h1>
<p>Hi <%= @user.name %></p>
<p>
<%= t(".title2") %>
</p>
<%= link_to t(".title1"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
