<li>
  <%= gravatar_for user, size = Settings.size.avar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to t(".title1"), user, method: :delete,
                                data: { confirm: t(".title") } %>
  <% end %>
</li>
