<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
</ul>
