<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class ="logo">
      <%= link_to t(".title3") ,"#" %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".title"),   root_path %></li>
        <li><%= link_to t(".title1"),   help_path %></li>
        <li><%= link_to t(".title2"), login_path %></li>
      </ul>
    </nav>
  </div>
</header>
